Exercise 2 - Create a markdown cell with the title of the notebook

# Peer-graded Assignment

Exercise 3 - Create a markdown cell for an introduction

### Introduction 

This is a peer graded assignment after completing of 5 weeks of **Tools for Data Science Course.**

Exercise 4 - Create a markdown cell to list data science languages

### Ordered List for Data Science Languages

1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia
8. JavaScript
9. PHP
10. Go 
11. Ruby
12. Visual Basic 

### Unordered List for Data Science Languages

- Python
- R
- SQL
- Scala
- Java
- C++
- Julia
- JavaScript
- PHP
- Go 
- Ruby
- Visual Basic

Exercise 5 - Create a markdown cell to list data science libraries

### Unordered list of Data Science Libraries

- Pandas
- NumPy
- Matplotlib
- Seaborn
- Scikit-learn 
- Keras
- TensorFlow
- PyTorch 
- Vegas
- BigBL
- ggplot2

Exercise 6 - Create a markdown cell with a table of Data Science tools

### A Table of Data Science Tools

| Category | Data Science Tools |
| -------- | ------------------ |
| Data Management Tools | MySQL, PostgreSQL, MongoDB, Apache CouchDB, Apache Cassandra, Hadoop File System, Ceph, and Elastic search |
| Data Integration and Transformation Tools | Apache AirFlow, KubeFlow, Apache Kafka, Apache Nifi, Apache SparkSQL, and NodeRED |
| Data Visualization Tools | Pixie Dust, Hue, Kibana, and Apache Superset |
| Model Deployment Tools | Apache PredictionIO, Seldon, Kubernetes, Redhat OpenShift, Mleap, TensorFlow service, TensorFlow lite, and TensorFlow dot JS | 
| Model Monitoring Tools | ModelDB, Prometheus, IBM AI Fairness 360, IBM Adversarial Robustness 360 Toolbox, and IBM AI Explainability 360 | 
| Code Asset Management Tools | Git, GitHub, GitLab, and Bitbucket. And finally, data asset management tools are Apache Atlas, ODPi Egeria, and Kylo |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Introduction to Arithmetic Expressions

Examples: 
1. (5 + 10) * 2  = 30
2. (7 * 6 ) - 10 = 32

Exercise 8 - Create a code cell to multiply and add numbers

In [1]:
(5 * 2) + 4

14

In [2]:
(4 + 10 ) * 7

98

In [3]:
(4*2)+(12*8)

104

Exercise 9 - Create a code cell to convert minutes to hours

In [6]:
#code to convert given minutes to hours and remaining minutes will be displayed
minutes = input("Enter number of minutes: ")

Enter number of minutes: 125

In [7]:
h = int(minutes)/60 
m = int(minutes)%60 
hours = int(h) + (m/60)
print("Converting", minutes,"minutes to hours: ")
print(minutes, "minutes equals" ,int(h), "hours and", m, "minutes that is", round(hours, 2), "hours")

Converting 125 minutes to hours:
125 minutes equals 2 hours and 5 minutes that is 2.08 hours

Exercise 10 -Insert a markdown cell to list Objectives

### Objectives

1. Title of the notebook
2. Introduction
3. List of data science languages
4. List of Data Science Libraries
5. A Table of Data Science Tools
6. Introduction to Arithmetic Expressions
7. Multiply and add numbers
8. Convert minutes to hours

Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name

##### Author: Krishna Dharmeshkumar Gandhi

Exercise 12 - Share your notebook through GitHub

[Github]()